html{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 0.5vmin solid black;
}

header h1{
    display: inline-flex;
}

nav li{
    display: inline-flex;
}

#inicio{
    background-color: #0d0129;
    color: white;
    height: 50vmin;
}

#inicio div{
    display: inline-flex;
    justify-content: center;
    align-content: center;
    margin: 0 5%
}

#inicio #apresentacao{
    display: inline-block;
}

#descricao{
    background-color: white;
    color: black;
    text-align: center;
}

#educacao{
    background-color: black;
    color: white;
}

#educacao h2{
    text-align: center;
}

#educacao div{
    display: inline-flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}

#educacao p{
    display: inline-block;
}