html{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 10vmin;
}

h2{
    text-align: center;
}

header{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 0.5vmin solid black;
}

header h1{
    display: inline-flex;
}

nav li{
    display: inline-flex;
}

#inicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
}

#inicio div{
    display: inline-flex;
    margin: 0 5%
}

#inicio #apresentacao{
    display: inline-block;
}

#descricao{
    background-color: white;
    color: black;
    text-align: center;
}

#educacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}


#educacao li{
    display: block;
    text-align: center;
}


#habilidades{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#habilidades li{
    display: block;
    text-align: center;
}

#experiencias{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#experiencias li{
    display: block;
}

#contato{
    display: flex;
    flex-direction: row;
    justify-items: center;
    
}

#contato div{
   margin: auto;
   max-width: 100%;
   text-align: center;
    
}


















